@model mtg_app.Models.Card.CardViewModel;


<tr class="text-center">
    <td><a asp-controller="Card" asp-action="SingleCard" asp-route-cardId="@Model.CardId">@Model.Name</a></td>
    <td>@Model.Type</td>
    
    <td>@Model.Rarity</td>
    <td>@Model.ManaCost</td>
    <td>@Model.Power</td>
    
    
    @{
        if (@Model.InCollection)
        {
            <td>✅</td>
        }
        else
        {
            <td>⭕</td>
        }
    }
    
</tr>
