@{
    ViewData["Title"] = "Collection";
}
@model mtg_app.Models.Collection.CollectionViewModel; //This model should be changed to that of the userthemselves, and not the general model
<header>
<!--autogen header here-->

<div class="text-center">
    <h1 class="display-4">Collection</h1>
    <p>Here is your collection:</p>
</div>
</header>
<body>
    <div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Model.ColumnCardName</th>
                    <th>@Model.ColumnCardType</th>
                    <th>@Model.ColumnCardVariations</th>
                    <th>@Model.ColumnCardInCollection</th>
                </tr>
            </thead>
            <tbody>
        
        
        @foreach (var card in Model.Cards) {
                <tr class="text-center">
                    <td><a asp-controller="Card" asp-action="SingleCard" asp-route-cardId="@card.CardId">@card.Name</a></td>
                    <td>@card.Type</td>
                    
                    <td>@card.Variations</td>
                    
                    @{
                        if (@card.InCollection)
                        {
                            <td>✅</td>
                        }
                        else
                        {
                            <td>⭕</td>
                        }
                    }
                    
                </tr>
            }
            
            </tbody>
        </table>
    </div>
</body>